<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>DFS</title>
    </head>

    <body>

        <h2>Hi! Welcome to DFS!</h2>

        <!-- Ations with files -->

        <h4>Actions with files:</h4>

        <!-- Create the file -->

       <form action=create_file method="POST">
           <input type="text" id="filename" name="filename">
           <input type="submit" value="Create file">
       </form> 

        <!-- Ations with directories -->

        <h4> Actions with directories:</h4>

    </body>

</html>
